 body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}

.login-bg {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #4e73df,
    #224abe
  );

  display: flex;
  align-items: center;
}

.card {
  transition: .3s;
}

.card:hover {
  transform: translateY(-5px);
}

.form-control {
  height: 50px;
}

.input-group-text {
  background: white;
}

.btn-primary {
  height: 50px;
  border-radius: 10px;
}

.btn-primary:hover {
  transform: scale(1.02);
}

@media(max-width:768px){

.card-body{
padding:30px;
}

}